bs4==0.0.1
cufflinks==0.17.3
geojsonio==0.0.3
geopandas==0.8.1
matplotlib==3.3.4
nltk==3.5
numpy==1.19.3
pandas
pickle5==0.0.11
pipenv==2020.11.15
plotly==4.14.1
protobuf==3.14.0
scikit-learn
scipy
seaborn
xgboost==1.3.3
